{% extends 'layouts/base-fullscreen.html' %}
{% block content %}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card shadow">
                    <div class="card-header text-center">
                        Ingresar
                    </div>
                    <div class="card-body text-center">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-primary" type="submit" value="Ingresar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}