
      <!-- Footer -->
      <footer class="footer bg-transparent">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank" 
                 href="https://www.unsa.edu.pe/" 
                 class="font-weight-bold ml-1">Universidad Nacional de San Agustín de Arequipa</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a class="font-weight-bold ml-1" target="_blank"> &copy; copyright</a> 
                 - coded by <a target="_blank" href="http://fips.unsa.edu.pe/ingenieriadesistemas/">Escuela Profesional de Ingeniería de Sistemas</a>
            </div>
          </div>
        </div>
      </footer>
