    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark" style="position: absolute;">
      <div class="container px-10">
        <a class="navbar-brand" href="/">
          <img src="/static/assets/img/unsa/unsa-negativo.png" alt="..."/>
        </a>
      </div>
    </nav>
