<!-- Navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-primary" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <label class="d-lg-inline-block"></label>
    <!-- Form -->
    {% comment %} <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </form> {% endcomment %}

    <ul class="navbar-nav align-items-center d-none d-md-flex ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle bg-white">
              <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-bell" fill="#500"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z" />
                <path fill-rule="evenodd"
                  d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
              </svg>
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">
                {{request.user.notifications.unread|length}} Notificaciones
              </span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-center pb-0 overflow-hidden mb-4"
          style="width: 320px;">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Notificaciones</h6>
          </div>






          {% for notificacion in request.user.notifications.all %}
          <hr class="my-0 p-0">
          <a href="{% url 'ayuda_integral:redireccionar-de-notificacion' notificacion.pk%}">
            <div class="dropdown-item m-0  item-notificacion">
              <div class="row">
                <div class="col-11">
                  <h5 class="mb-0">{{notificacion.verb|capfirst}}</h5>

                </div>
                <div class="col-1 p-0">
                  {% if notificacion.unread %}
                  <div class="notificacion-punto ml-2 mt-1"></div>
                  {% endif %}
                </div>
              </div>
              <small>{{notificacion.description|default:""|capfirst}}</small>
              <small><strong class="text-primary">{{notificacion.action_object.nombre|default:""|capfirst}}</strong></small>
              <label class="text-muted d-block"><small>{{notificacion.timestamp|date:'d M. h:i:s a'}}</small></label>

            </div>
          </a>


          {% endfor %}

        </div>
      </li>
    </ul>



    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle bg-white">
              {% if request.user.google_profile_picture == "" %}
                <img alt="Image placeholder" src="/static/assets/img/theme/team-5-800x800.jpg">
              {% else %}
                <img alt="Perfil" src="{{ request.user.google_profile_picture }}">
              {% endif %}
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">
                {{ request.user.email }}
              </span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Bienvenido</h6>
          </div>
          <a href="{% url 'bienestar:profile' %}" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Ver Perfil</span>
          </a>
          <a href="{% url 'bienestar:logout' %}" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Salir</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navbar -->