
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-secondary" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        <img src="/static/assets/img/unsa/unsa-blanco.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle bg-white">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-bell" fill="#500"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z" />
                  <path fill-rule="evenodd"
                    d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                </svg>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right l-3"
            style="width: 320px;">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Notificaciones</h6>
            </div>

            {% for notificacion in request.user.notifications.all %}
            <hr class="my-0 p-0">
            <a href="{% url 'ayuda_integral:redireccionar-de-notificacion' notificacion.pk%}">
              <div class="dropdown-item m-0  item-notificacion">
                <div class="row">
                  <div class="col-11">
                    <h5 class="mb-0">{{notificacion.verb|capfirst}}</h5>
  
                  </div>
                  <div class="col-1 p-0">
                    {% if notificacion.unread %}
                    <div class="notificacion-punto ml-2 mt-1"></div>
                    {% endif %}
                  </div>
                </div>
                <small>{{notificacion.description|default:""|capfirst}}</small>
                <small><strong class="text-primary">{{notificacion.action_object.nombre|default:""|capfirst}}</strong></small>
                <label class="text-muted d-block"><small>{{notificacion.timestamp|date:'d M. h:i:s a'}}</small></label>
  
              </div>
            </a>

            {% endfor %}
          </div>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              
              <span class="avatar avatar-sm rounded-circle">
                {% if request.user.google_profile_picture == "" %}
                  <img alt="Image placeholder" src="/static/assets/img/theme/team-5-800x800.jpg">
                {% else %}
                  <img alt="Perfil" src="{{ request.user.google_profile_picture }}">
                {% endif %}
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Bienvenido</h6>
            </div>
            <a href="{% url 'bienestar:profile' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Ver Perfil</span>
            </a>
            <a href="{% url 'bienestar:logout' %}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Salir</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="/static/assets/img/unsa/unsa-blanco.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        {% comment %}
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Searasdfsdfch" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        {% endcomment %}
        <!-- Navigation -->
        <ul class="navbar-nav navbar-hover-light">
          <!-- <li class="nav-item">
            {% url 'ayuda_integral:home' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}" 
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-grid-1x2-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z"/>
                </svg>
              </i> home
            </a>
          </li> -->
          {% if request.user.rol == 'AS' or request.user.rol == 'JO' or request.user.rol == 'BE' or request.user.rol == 'SG' or request.user.rol == 'SB'%} 
            <li class="nav-item" >
              {% url 'ayuda_integral:solicitud-list' as solicitudes %}
              <a class=" nav-link {% if request.path == solicitudes %}active{% endif %}" 
                href="{{solicitudes}}"> 
                
                <i>
                  <svg width="20px" height="20px" viewBox="0 0 16 16" class=" bi bi-inbox-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
                  </svg>
                </i> Solicitudes
              </a>
            </li>
          {% endif %}
          {% if request.user.rol == 'BE' %}
          <li class="nav-item" >
            {% url 'ayuda_integral:documento-list' 1 as documentos %}
            <a class=" nav-link {% if request.path == documentos %}active{% endif %}" 
               href="{{documentos}}"> 
               
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"></path>
                  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"></path>
                  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
              </svg>
              </i> 
            
            Documentos
            </a>
          </li>
          {% endif %}
          {% if request.user.rol == 'AS' or request.user.rol == 'SO'  or request.user.rol == 'SB' or request.user.rol == 'JO' or request.user.rol == 'SG' or request.user.rol == 'TS' %} 
          <li class="nav-item">
            {% url 'ayuda_integral:expediente-list' as expedientes %}
            <a class="nav-link {% if request.path == expedientes %}active{% endif %}" 
               href="{{expedientes}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-folder-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
                </svg>
              </i> Expedientes
            </a>
          </li>
          {% endif %}
          {% if request.user.rol == 'AS' or request.user.rol == 'JO' or request.user.rol == 'SB' or request.user.rol == 'SO' or request.user.rol == 'TS' %} 
          <li class="nav-item">
            {% url 'bienestar:expediente-report' as reportes %}
            <a class="nav-link {% if request.path == reportes %}active{% endif %}" 
               href="{{reportes}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-bar-graph-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                </svg>
              </i> Reportes
            </a>
          </li>

          {% endif %}
          
          {% if request.user.rol == 'AS' or request.user.rol == 'JO' or request.user.rol == 'SG'  or request.user.rol == 'SB' or request.user.rol == 'SO' or request.user.rol == 'TS' %} 
          <li class="nav-item">
            {% url 'ayuda_integral:externo-list' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}" 
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i>Solicitantes Externos
            </a>
          </li>
          <li class="nav-item">
            {% url 'ayuda_integral:interno-list' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}" 
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i>Solicitantes Internos
            </a>
          </li>
          {% endif %}
          <!-- {% if request.user.rol == 'AS' or request.user.rol == 'SG' %} 
          <li class="nav-item">
            {% url 'ayuda_integral:expediente-add' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}"
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-earmark-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V11a.5.5 0 0 0 1 0V9.5H10a.5.5 0 0 0 0-1H8.5V7z"/>
                </svg>
              </i> Crear expediente
            </a>
          </li>
          {% endif %} -->
          {% if request.user.rol == 'AS' or request.user.rol == 'BE'%} 
          <li class="nav-item">
            {% url 'ayuda_integral:solicitud-create' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}" 
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-earmark-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V11a.5.5 0 0 0 1 0V9.5H10a.5.5 0 0 0 0-1H8.5V7z"/>
                </svg>
              </i> Crear Solicitud
            </a>
          </li>
          {% endif %}
          {% if request.user.rol == 'AS' or request.user.rol == 'SG' or request.user.rol == 'SB'%} 
          <li class="nav-item">
            {% url 'ayuda_integral:entidad-create' as item %}
            <a class="nav-link {% if request.path == item %}active{% endif %}" 
               href="{{item}}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-earmark-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V11a.5.5 0 0 0 1 0V9.5H10a.5.5 0 0 0 0-1H8.5V7z"/>
                </svg>
              </i> Crear Entidad
            </a>
          </li>
          {% endif %}

        </ul>
        {% if request.user.rol == 'AS' or request.user.rol == 'JO' or request.user.rol == 'SG'  or request.user.rol == 'SB' or request.user.rol == 'SO' or request.user.rol == 'TS' %} 

        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Otras opciones</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3 navbar-hover-light">

          <li class="nav-item">
            {%url 'ayuda_integral:alumno-list' as listAlumnos %}
            <a class="nav-link {% if request.path == listAlumnos %}active{% endif %}" href="{%url 'ayuda_integral:alumno-list' %}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i> Alumnos
            </a>
          </li>

          <li class="nav-item">
            {%url 'ayuda_integral:administrativo-list' as buscarAdministrativo%}
            <a class="nav-link {% if request.path == buscarAdministrativo %}active{% endif %}" href="{%url 'ayuda_integral:administrativo-list' %}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i> Administrativos
            </a>
          </li>

          <li class="nav-item">
            {%url 'ayuda_integral:docente-list' as buscarDocente %}
            <a class="nav-link {% if request.path == buscarDocente %}active{% endif %}" href="{%url 'ayuda_integral:docente-list' %}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i> Docentes
            </a>
          </li>

          <li class="nav-item">
            {%url 'ayuda_integral:entidad-list' as item%}
            <a class="nav-link {% if request.path == item %}active{% endif %}" href="{%url 'ayuda_integral:entidad-list' %}">
              <i>
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
              </i> Entidades
            </a>
          </li>

        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
