{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Crear expediente</h3>
                        </div>
                        <div class="col-4">
                            
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Fecha de recepción</label>
                                <input type="date"
                                    class="form-control form-control-alternative {%if form.fecha_recepcion.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.fecha_recepcion.label}}"
                                    id="fechaRecepcion"
                                    value="{{form.fecha_recepcion.value|default:''}}"
                                    name="{{form.fecha_recepcion.html_name}}">
                                    
                                <div class="invalid-feedback">
                                    {{form.fecha_recepcion.errors}}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label>Número de expediente</label>
                                <input type="text" readonly
                                    class="form-control form-control-alternative {%if form.numero_expediente.errors %}is-invalid{%endif%}"
                                    placeholder="Número de expediente" id="{{form.numero_expediente.id_for_label}}"
                                    value="{{form.numero_expediente.value|default:'Se generará automáticamente'}}"
                                    name="{{form.numero_expediente.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.numero_expediente.errors}}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label>Número proveído</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.numero_proveido.errors %}is-invalid{%endif%}"
                                    placeholder="Número proveído" id="{{form.numero_proveido.id_for_label}}"
                                    value="{{form.numero_proveido.value|default:''}}"
                                    name="{{form.numero_proveido.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.numero_proveido.errors}}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            {% if not pk%}
                            <div class="form-group col-md-8">
                                <label>{{form.beneficiario.label}}</label>
                                <select id="{{form.beneficiario.id_for_label}}" name="{{form.beneficiario.html_name}}" required
                                    class=" {%if form.beneficiario.errors %}is-invalid{%endif%} selectize-item">
                                    {% for item in beneficiario%}
                                    <option value="{{item.id}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" id="dummy" class="{%if form.beneficiario.errors %}is-invalid{%endif%} form-control">
                                <div class="invalid-feedback">
                                    {{form.beneficiario.errors}}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group col-md-4">
                                <label>Oficina a derivar</label>
                                <select name="oficina_a_derivar" class="form-control form-control-alternative">
                                    {% for oficina in oficinas%}
                                    <option value="{{oficina.0}}">{{oficina.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Salida a crear</label>
                                <select name="salida_a_crear" id="salida_a_crear" class="form-control form-control-alternative">
                                    <option value="oficio">Número de Oficio</option>
                                    <option value="proveido">Número de Proveído</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Número oficio</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.numero_oficio.errors %}is-invalid{%endif%}"
                                    placeholder="Número oficio" id="{{form.numero_oficio.id_for_label}}"
                                    value="{{form.numero_oficio.value|default:''}}"
                                    name="{{form.numero_oficio.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.numero_oficio.errors}}
                                </div>
                            </div>

                            

                            <div class="form-group col-md-4">
                                <label>{{form.actividad.label}}</label>
                                <select id="{{form.actividad.id_for_label}}" name="{{form.actividad.html_name}}"
                                    class="form-control form-control-alternative  {%if form.actividad.errors %}is-invalid{%endif%}">
                                    <option value ="0">---------</option>
                                    {% for item in actividad%}
                                    <option value={{item.id }} {% if item.id|slugify == form.actividad.value%} selected {% endif %}>{{item.nombre }} </option>
                                    {% endfor %}
                                </select>

                                <div class="invalid-feedback">
                                    {{form.actividad.errors}}
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>{{form.sub_actividad.label}}</label>
                                <select id="{{form.sub_actividad.id_for_label}}" name="{{form.sub_actividad.html_name}}"
                                    class="form-control  {%if form.sub_actividad.errors %}is-invalid{%endif%}">
                                    <option data-chained="0">Primero escoge una actividad</option>
                                    {% for item in subactividad %}                                    
                                    <option value="{{item.id}}" data-chained="{{item.actividad.id}}" {% if item.id|slugify == form.sub_actividad.value|default:''%} selected {% endif %}>{{item.nombre }} </option>
                                    {% endfor %}
                                </select>

                                <div class="invalid-feedback">
                                    {{form.sub_actividad.errors}}
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea cols="30" rows="10" placeholder="Descripción"
                                id="{{form.descripcion.id_for_label}}" name="{{form.descripcion.html_name}}"
                                class="form-control form-control-alternative {%if form.descripcion.errors %}is-invalid{%endif%}">{{form.descripcion.value|default:''}}</textarea>
                            <div class="invalid-feedback">
                                {{form.descripcion.errors}}
                            </div>
                        </div>


                        <button type="reset" class="btn btn-danger float-left"
                            onclick="javascript:window.history.back();">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success float-right">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">

            <div class="card card-profile shadow">

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <h2>Crear expediente</h2>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <ul>
                        <li>FECHA DE RECEPCIÓN: Se debe colocar la fecha la recepción del expediente. No se pueden colocar fechas futuras</li>
                        <li>N° DE EXPEDIENTE: (Obligatorio)</li>
                        <li>PROVEÍDO: Número de proveído</li>
                        <li>NOMBRE BENEFICIARIO: Debe escoger al beneficiario creado en el módulo de benficiarios</li>
                        <li>OFICINA: Oficina a la que se deriva el expediente</li>
                        <li>N° DE OFICIO: Número de oficio</li>
                        <li>ACTIVIDAD: Escoger la actividad a la que pertenece el expediente.</li>
                        <li>SUBACTIVIDAD: Se debe escoger la subactividad de la actividad escogida.</li>
                        <li>DESCRIPCIÓN: Se debe colocar una breve descripción del expediente.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .selectize-item .selectize-input{
        display: block;
        width: 100%;
        height: calc(2.75rem + 2px);
        padding: 0.625rem 0.75rem; 
        font-size: 1rem;
        line-height: 1.5;
        color: #6c757d;
        background-color: #fff !important;
        background-clip: padding-box;
        border: 1px solid #cad1d7;
        border-radius: 0.375rem;
        box-shadow: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        font-size: 11px;
    }
	
</style>
{% endblock %}

{% block javascripts %}
<script>
    $('.selectize-item').selectize({
        sortField: 'text',
        delimiter: ',',
        persist: false,
        maxItems: 1  
    });
    
    //solo se puede seleccionar las fechas hasta hoy
    var hoy = new Date();
    var dia = hoy.getDate();
    var mes = hoy.getMonth() + 1;
    var anio = hoy.getFullYear();

    $("#fechaRecepcion").attr("max", anio + '-' + (mes>9?mes:'0'+mes) + '-' + (dia>9?dia:'0'+dia));
    $("#fechaRecepcion").attr("value", anio + '-' + (mes>9?mes:'0'+mes) + '-' + (dia>9?dia:'0'+dia));


    $(function(){
        $("#id_sub_actividad").chained("#id_actividad")
    })
</script>
{% endblock %}