{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="modal" tabindex="-1" role="dialog" id="verDocumentoModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="nombreDocumento"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <a id="linkDocumento" href="#" target="_blank">
                        <svg width="10px" height="10px" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                          </svg>
                        Abrir en otra ventana
                    </a>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe id="iframeDocumento" class="embed-responsive-item" allowfullscreen></iframe>
                      </div>

                </div>
    
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow  mb-3">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Ver Expediente</h3>
                        </div>
                        <div class="col-2">

                        </div>
                        <div class="col-2">

                            {% if object.estado_expediente != 'CO'  %}
                                {% if request.user.rol == 'AS' or request.user.rol == 'SB' or  request.user.rol == 'JO' or  request.user.rol == 'TS' %}
                                <a href="{% url 'ayuda_integral:expediente-update' object.pk %}">
                                    <button class="btn btn-info float-right">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Editar
                                    </button>
                                </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Fecha de recepción</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.fecha_recepcion|date:'d-m-Y'}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Número de expediente</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.numero_expediente}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Número proveído</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.numero_proveido}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Beneficiario</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.beneficiario}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Estado expediente</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.get_estado_expediente_display}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Número Oficio</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.numero_oficio}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Actividad</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.actividad|default:'Ninguno'}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Sub Actividad</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.sub_actividad.nombre|default:'Ninguno'}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Fecha de salida</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.fecha_salida|date:'d-m-Y'}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Resultado</label>
                            <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.get_resultado_display}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea cols="30" rows="10" class="form-control form-control-alternative "
                            readonly>{{object.descripcion}}</textarea>
                    </div>
                    <hr>
                    <h2>Salidas</h2>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Número de expediente</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-alternative" readonly id="clipboard1" value="{{object.salida_expediente|default:''}}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-info" type="button"  data-clipboard-action="copy" data-clipboard-target="#clipboard1">Copiar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Número de informe</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-alternative" readonly id="clipboard2" value="{{object.salida_informe|default:''}}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-info" type="button"  data-clipboard-action="copy" data-clipboard-target="#clipboard2">Copiar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Número de oficio</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-alternative" readonly id="clipboard3" value="{{object.salida_oficio|default:''}}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-info" type="button"  data-clipboard-action="copy" data-clipboard-target="#clipboard3">Copiar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Número de proveído</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-alternative" readonly id="clipboard4" value="{{object.salida_proveido|default:''}}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-info" type="button"  data-clipboard-action="copy" data-clipboard-target="#clipboard4">Copiar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">

            <div class="card card-profile shadow mb-3">

                <div class="card-header text-center border-0 pt-4 pb-0 pb-md-4">

                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0 float-left">Documentos</h2>
                            <a class="btn btn-info btn-sm float-right mb-3"
                                href="{% url 'ayuda_integral:expediente-doc-create' object.pk %}">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-file-earmark-text"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                                Subir
                            </a>
                        </div>
                    </div>


                </div>
                <div class="card-body pt-0">

                    <ul class="list-group mb-3">
                        {% for documento in object.documentoexpediente_set.all %}
                        <li class="list-group-item p-0 ">
                            <div class="row ">
                                <div class="col">
                                    <a  data-url="{{documento.path_url_embed}}" data-nombre="{{documento.nombre}}" href="#" data-target="#verDocumentoModal" data-toggle="modal" >
                                        <label class="m-3">{{forloop.counter}}. {{documento.nombre}}</label>
                                    </a>
                                </div>
                                
                                
                                <button type="button" class="close col-2 p-3 m-0" aria-label="Close"
                                data-url="{% url 'ayuda_integral:eliminar-exp-documento' documento.pk %}" data-nombre="{{documento.nombre}}"  data-target="#eliminarDocumentoModal" data-toggle="modal" >
                                    <span aria-hidden="true" class="">&times;</span>
                                </button>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    {% if docPersonal %}
                    <h3> Documentos del beneficiario:</h3>
                    <ul class="list-group">
                        {% for documento in docPersonal %}
                            <li class="list-group-item">
                                <a href="#" data-url="{{documento.path_url_embed}}" data-nombre="{{documento.tipo_documento}}" href="#" data-target="#verDocumentoModal" data-toggle="modal" >
                                    {{forloop.counter}}. {{documento.nombre | default:'Sin nombre'}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}



                </div>
            </div>
            
                
                <div class="card card-profile shadow mb-3">
                    <div class="card-header text-center border-0 pt-4 pb-0 pb-md-4">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <h2 class="mb-0 float-left">Derivaciones</h2>
                                {% if object.estado_expediente != 'CO'  %}
                                    {% if request.user.rol == 'AS' or  request.user.rol == 'SG' or  request.user.rol == 'SO'  %}
                                        {% if se_puede_derivar %}
                                        <button class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#exampleModal">
                                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-arrow-bar-right"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z">
                                                </path>
                                            </svg>
                                            Derivar
                                        </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="events">
                            {% for derivacion in object.derivados.all %}
                            <li>
                                <time datetime="10:03" data-toggle="tooltip" data-placement="top"
                                    title="{{derivacion.fecha}}">
                                    {{derivacion.fecha|date:"d M"}}
                                </time>
                                <span>
                                    <strong>
                                        {{derivacion.usuario_derivado.email}}
                                    </strong>
                                    {{derivacion.observacion|default:''}}
                                    {{derivacion.usuario.email}}
                                    derivo a
                                    {{derivacion.usuario_derivado.email}}

                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
            <div class="card card-profile shadow mb-3">

                <div class="card-header text-center border-0 pt-4 pb-0 pb-md-4">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0 float-left">Historial de cambios</h2>
                        </div>
                    </div>

                </div>
                <div class="card-body pt-0">
                    <ul class="events">
                        {% for cambio in object.historialDeCambios.all %}
                        <li>
                            <time data-toggle="tooltip" data-placement="top"
                                title="{{cambio.fecha}}">
                                {{cambio.fecha|date:"d M"}}
                            </time>
                            <span>
                                <strong>
                                    {{cambio.titulo}}
                                </strong>
                                {{cambio.usuario.email}}
                                {{cambio.descripcion|default:''}}

                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Derivación</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'ayuda_integral:derivar' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">

                            <input type="hidden" name="expedientes" value="{{object.id}}">
                            Expedientes
                            <br>
                            <label class="h2">{{object}}</label>
                            <br>
                            <br>
                            Usuarios destino
                            <select class="selectize-item" name="usuarios" multiple>
                                {% for usuario in usuarios %}
                                <option value="{{usuario.pk}}">{{usuario.email}}</option>
                                {% endfor%}
                            </select>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-success ">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                </svg>
                                Derivar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="eliminarDocumentoModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Eliminar documento</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="formEliminarDoc" action="#" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            ¿Realmente quiere eliminar este documento?
                            <br>
                            <strong><label id="nombreDocumentoEliminar"></label></strong>
                            <br>
                            Esta acción no se puede deshacer
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                Cancelar
                            </button>
                            
                            <button type="submit" class="btn btn-success ">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                </svg>
                                Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
    $('.selectize-item').selectize({
        sortField: 'text',
        delimiter: ',',
        persist: false,
        maxItems: 1

    });

    {% comment %}
    <!--copia la url de eliminacion de cada solicitud y las pone en el href del modal Alert-->
    {% endcomment %}

    $('#verDocumentoModal').on('show.bs.modal', function (event) {
        var url = $(event.relatedTarget).attr('data-url');
        var nombre = $(event.relatedTarget).attr('data-nombre');
        $("#iframeDocumento").attr('src', url);
        $("#linkDocumento").attr('href', url);
        $("#nombreDocumento").html(nombre);
    })

    $('#eliminarDocumentoModal').on('show.bs.modal', function (event) {
        var url = $(event.relatedTarget).attr('data-url');
        var nombre = $(event.relatedTarget).attr('data-nombre');
        $("#formEliminarDoc").attr('action', url);
        $("#nombreDocumentoEliminar").html(nombre);
        
    })

    new ClipboardJS('.btn');
</script>
{% endblock %}
