<a href="{% url 'ayuda_integral:expediente-doc-create' pk %}">Subir</a>

{% if object_list %}
    <h3> Documentos del expediente:</h3>
    {% for documento in object_list %}
        <p> <a href="{{documento.path.url}}">{{documento.nombre}}</a></p>
    {% endfor %}
{% endif %}
{% if docPersonal %}
    <h3> Documentos del beneficiario:</h3>
    {% for documento in docPersonal %}
        <p> <a href="{{documento.path.url}}">{{documento.tipo_documento}}</a></p>
    {% endfor %}
{% endif %}