{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow mb-3">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Subir</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label>Nombre</label>
                                <input type="text" required name="{{form.nombre.html_name}}" id="{{form.nombre.id_for_label}}"
                                value="{{form.nombre.value|default:''}}"
                                class="form-control form-control-alternative  {%if form.nombre.errors %}is-invalid{%endif%}">

                                <div class="invalid-feedback">
                                    {{form.nombre.errors}}
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label>Archivo</label>
                                <div class="custom-file">
                                    <input type="file" required name="{{form.path.html_name}}" class="custom-file-input" id="{{form.path.id_for_label}}"
                                        language="es-ES" >
                                    <label class="custom-file-label" for="{{form.path.id_for_label}}">Seleccionar Archivo</label>
                                </div>
                                
                                

                            </div>
                        </div>



                        <button type="reset" class="btn btn-danger float-left"
                            onclick="javascript:window.history.back();">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success float-right">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>
                              Guardar
                            </button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">

            <div class="card card-profile shadow">

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <h2>Instrucciones</h2>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <strong>Nombre de documento: </strong> Ponga un nombre a su documento que lo describa claramente.
                </div>
            </div>
        </div>

    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}

{% block javascripts %}
    <script>
        
        //cambiar el texto del input-file cuando se escoge un Archivo

        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        }); 
    </script>
{% endblock %}

