{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

    <div class="row mx-2">
        {% if request.user.rol == 'AS' or request.user.rol == 'SG' %} 
        <a class="col-auto  mb-3" href="{% url 'ayuda_integral:expediente-add' %}">

            <!-- <button class=" btn btn-info">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Crear expediente

            </button> -->
        </a>
        {% endif %}
        {% if request.user.rol == 'AS' or request.user.rol == 'SG' or request.user.rol == 'SO' %} 
        <button class="col-auto btn btn-success  mb-3" data-toggle="modal" data-target="#exampleModal">
            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
            </svg>
            Derivar
        </button>
        {% endif %}
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Derivación</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'ayuda_integral:derivar' %}" method="POST">
                    {% csrf_token %}
                <div class="modal-body">

                    
                        Expedientes
                        <select class="selectize-item mb-3" name="expedientes"multiple>
                            {% for expediente in expedientes %}
                                <option value="{{expediente.pk}}">{{expediente}} </option>
                            {% endfor%}
                        </select>
                        Usuarios destino
                        <select class="selectize-item" name="usuarios" multiple>
                            {% for usuario in usuarios %}
                                <option value="{{usuario.pk}}">{{usuario.email}}</option>
                            {% endfor%}
                        </select>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success ">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                        </svg>
                        Derivar
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>




    <div class="row mx-2">
        <div class="col">
            <form method="GET">
                <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Desde</label>
                    <input type="date"
                        class="form-control form-control-alternative"
                        value="{{desde}}"
                        name="desde">
                </div>
                <div class="form-group col-md-4">
                    <label>Hasta</label>
                    <input type="date"
                        class="form-control form-control-alternative"
                        name="hasta"
                        value="{{hasta}}">
                </div>
            </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control form-control-alternative" placeholder="Buscar por..."
                            name="buscar" value="{{buscar}}">
                    </div>

                    <div class="form-group col-md-4">
                        <select name="tipo" id="tipo" class="form-control form-control-alternative">
                            <option value="beneficiario" {% if tipo == 'beneficiario' %}selected{% endif %}>beneficiario</option>
                            <option value="entidad" {% if tipo == 'entidad' %}selected{% endif %}>entidad</option>
                            <option value="actividad" {% if tipo == 'actividad' %}selected{% endif %}>actividad</option>
                            <option value="subactividad" {% if tipo == 'subactividad' %}selected{% endif %}>subactividad</option>>
                            <option value="expediente" {% if tipo == 'expediente' %}selected{% endif %}>expediente</option>
                            <option value="proveido" {% if tipo == 'proveido' %}selected{% endif %}>proveido</option>
                            <option value="oficio" {% if tipo == 'oficio' %}selected{% endif %}>oficio</option>
                        </select>

                    </div>

                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-success">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            <h3>{{contador}} expedientes encontrados</h3>

        </div>



    </div>

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <h3 class="mb-0 col-6">Reporte de expedientes</h3>
                        <div class="col-6">
                            <div class="float-right custom-control">
                                <input type="checkbox" {% if mostrarConcluidos != 'no'%} checked {% endif %}  class="custom-control-input" id="ocultosSwitch">
                                <label class="custom-control-label" for="ocultosSwitch">Mostrar solo concluidos</label>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Número expediente</th>
                                <th scope="col">Beneficiario</th>
                                <th scope="col">Fecha de recepción</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Numero Proveido</th>
                                <th scope="col">Numero Oficio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for article in object_list %}
                            <tr>
                                <th>
                                    <a href="{% url 'ayuda_integral:expediente-detail' article.pk %}"  >
                                        <!-- <span class="btn btn-primary size-temp"> -->
                                            {{ article.numero_expediente|default:"Sin número" }}
                                        <!-- </span> -->
                                    </a>
                                </th>
                                <th>
                                    <a
                                        href="{% url 'ayuda_integral:beneficiario-externo-detail' article.beneficiario.pk %}">
                                        {{ article.beneficiario }}
                                    </a>
                                </th>
                                <td>
                                    {{article.fecha_recepcion|date:'d-m-Y'}}

                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="estado-color-{{article.estado_expediente}}"></i>{{article.get_estado_expediente_display}}
                                    </span>
                                    
                                </td>
                                <td>
                                    {{ article.actividad }}
                                </td>
                                <td>
                                    {{ article.numero_proveido }}
                                </td>
                                <td>
                                    {{ article.numero_oficio }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{% url 'ayuda_integral:expediente-detail' article.pk %}">Ver</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No existen expedientes
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                    <!--Pagination-->
                    <ul class="pagination justify-content-end mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <label class="page-link" >{{ page_obj.number }} <span class="sr-only">(current)</span></label>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
-
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>
{% endblock %}

{% block javascripts %}
<script>
    $('.selectize-item').selectize({
        sortField: 'text',
        delimiter: ',',
        persist: false,
        maxItems: 1

    });
    
    $('#ocultosSwitch').change(function() {
        var currentUrl = window.location;
        var url = new URL(currentUrl);
        if(this.checked) {
            url.searchParams.set("mostrar_concluidos", "yes");    
        }else{
            url.searchParams.delete("mostrar_concluidos");
        }
        window.location = url.href;
    });
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .size-temp { 
        transform: scale(0.8);
        width: 90px; 
    }
    .estado-color-PE{
        background-color: rgba(255, 0, 0, 0.986);
    }
    .estado-color-PR{
        background-color: rgb(255, 251, 0);
    }
    .estado-color-RE{
        background-color: rgba(253, 135, 0, 0.801);
    }
    .estado-color-CO{
        background-color: rgba(7, 211, 7, 0.616);
    }
</style>
{% endblock %}