{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Editar expediente</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Fecha de recepción</label>
                                <input type="date"
                                    class="form-control form-control-alternative"
                                    value="{{object.fecha_recepcion|date:'Y-m-d'}}"
                                    readonly>
                                    
                            </div>

                            <div class="form-group col-md-4">
                                <label>Número de expediente</label>
                                <input type="text"
                                    class="form-control form-control-alternative"
                                    readonly
                                    value="{{object.numero_expediente|default:''}}">
                            </div>

                            <div class="form-group col-md-4">
                                <label>Número proveído</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.numero_proveido.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.numero_proveido.label}}"
                                    id="{{form.numero_proveido.id_for_label}}"
                                    name="{{form.numero_proveido.html_name}}"
                                    value="{{form.numero_proveido.value|default:''}}">
                                <div class="invalid-feedback">
                                    {{form.numero_proveido.errors}}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label>Beneficiario</label>
                                <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.beneficiario|default:'Ninguno'}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label >{{form.estado_expediente.label}}</label>
                                <select id="{{form.estado_expediente.id_for_label}}" name="{{form.estado_expediente.html_name}}"
                                    class="form-control form-control-alternative  {%if form.estado_expediente.errors %}is-invalid{%endif%}">
                                    {% for clave, valor in form.estado_expediente.field.choices %}
                                        {% if request.user.rol != 'TS' or request.user.rol == 'TS' and clave != 'CO' %} 
                                        <option value="{{clave}}" {% if form.estado_expediente.value == clave %} selected {% endif %}>{{valor}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{form.estado_expediente.errors}}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Número oficio</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.numero_oficio.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.numero_oficio.label}}" id="{{form.numero_oficio.id_for_label}}"
                                    name="{{form.numero_oficio.html_name}}"
                                    value="{{form.numero_oficio.value|default:''}}">
                                <div class="invalid-feedback">
                                    {{form.numero_oficio.errors}}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label>Actividad</label>
                                <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.actividad.nombre|default:'Ninguno'}}">

                            </div>

                            <div class="form-group col-md-4">
                                <label>Sub actividad</label>
                                <input type="text" class="form-control form-control-alternative" readonly
                                value="{{object.sub_actividad.nombre|default:'Ninguno'}}">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label >{{form.resultado.label}}</label>
                            <select id="{{form.resultado.id_for_label}}" name="{{form.resultado.html_name}}"
                                class="form-control form-control-alternative  {%if form.resultado.errors %}is-invalid{%endif%}">
                                {% for item in form.resultado%}
                                {{item}}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                {{form.resultado.errors}}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea cols="30" rows="10" placeholder="{{form.descripcion.label}}"
                                id="{{form.descripcion.id_for_label}}" name="{{form.descripcion.html_name}}"
                                class="form-control form-control-alternative {%if form.descripcion.errors %}is-invalid{%endif%}">{{form.descripcion.value|default:''}}</textarea>
                                
                            <div class="invalid-feedback">
                                {{form.descripcion.errors}}
                            </div>
                        </div>


                        

                        <button type="reset" class="btn btn-danger float-left" onclick="javascript:window.history.back();">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success float-right">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>
                            Guardar
                        </button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">

            <div class="card card-profile shadow">

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <h2>Instrucciones</h2>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <strong>Estado expediente: </strong>
                    Si modifica el estado, se guardará en el historial de cambios.
                    <br>
                    Si el estado es "concluido", el expediente ya no podrá ser editado.
                </div>
            </div>
        </div>

    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}

{% block javascripts %}

<script>
    $(function(){
        $("#id_sub_actividad").chained("#id_actividad")
    })
</script>
{% endblock %}