{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--7 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-white shadow border-0">
            <!-- <div class="card-header bg-transparent pb-3">
              <div class="text-muted text-center mt-2 mb-3">Ingresar</div>
            </div> -->
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Ingresar con</small></div>
              <div class="btn-wrapper text-center">
                <a href="/accounts/google/login/" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="/static/assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-3 py-lg-3">
              {% if msg %}
                <div class="text-center text-muted mb-4">
                  <p>{{ msg }}</p>
                </div>
              {% endif %}  

              <form method="POST">

                {% csrf_token %}

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password }}
                  </div>
                </div>
                <div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Ingresar</button>
                  </div>
                  <!-- <div>
                    <a href="/accounts/google/login/">Ingresar por Google</a>
                  </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
