{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="row mx-2">
        <div class="col">
            <!-- busqueda de beneficiario -->
            <form action="{%url 'ayuda_integral:solicitud-search' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input class="form-control form-control-alternative" name="campo" id="campo"
                            placeholder="Buscar...">
                    </div>

                    <div class="form-group col-md-4">
                        <select name="tipo" id="tipo" class="form-control form-control-alternative">
                            <option value="CUI">CUI</option>
                            <option value="DNI">DNI</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-success">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Alumnos</h3>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">DNI</th>
                                <th scope="col">CUI</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Email</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if solicitudes %}
                            {% for article in solicitudes %}
                            <tr>
                                <td>
                                    {{ article.dre_nom }}
                                </td>
                                <td>
                                    {{ article.dre_dni }}
                                </td>
                                <td>
                                    {{ article.dre_cui }}
                                </td>
                                <td>
                                    {{ article.dre_tel }}
                                </td>
                                <td>
                                    {{ article.dre_ema }}
                                </td>
                                <td>
                                    {{ article.dre_mot|truncatechars:20  }}
                                </td>
                                <td>
                                    {{ article.dre_fec }}
                                </td>
                                
                                
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No existen elementos
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!--Pagination-->
                    <!--
                    <ul class="pagination justify-content-end mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <label class="page-link">{{ page_obj.number }} <span
                                    class="sr-only">(current)</span></label>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}