{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

    {% if messages %}
        {% for message in messages %}
            {% if 'mensaje_solicitud' in message.extra_tags %}
                <div class="row">
                <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>{{ message|safe }}</p>
                </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="modal" tabindex="-1" role="dialog" id="verDocumentoModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="nombreDocumento"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <a id="linkDocumento" href="#" target="_blank">
                        <svg width="10px" height="10px" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                          </svg>
                        Abrir en otra ventana
                    </a>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe id="iframeDocumento" class="embed-responsive-item" allowfullscreen></iframe>
                      </div>

                </div>
    
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        {% if request.user.rol != 'BE' %}
        <div class="col-xl-8 order-xl-1 order-1">
        {% else %}
        <div class="col">
        {% endif %}
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <h3 class="mb-0 col-12 col-lg-6">Problema: {{ object.problema|capfirst }}</h3>
                        <div class="col-12 col-lg-6">
                            {% if object.estado_solicitud != 'AP' and object.estado_solicitud != 'DE' %}
                                {% if request.user.rol == 'SG' or request.user.rol == 'AS' %}

                                <a href="{% url 'ayuda_integral:solicitud-update' object.pk %}">
                                    <button class="btn btn-info btn-sm float-right">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Editar
                                    </button>
                                </a>
                                    {% if link_carpeta %}
                                    <a href="{{link_carpeta}}" target="_blank" class="btn btn-success btn-sm float-right mr-3">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.798 8.271l-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z"/>
                                            <path d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                                        </svg>
                                        Carpeta del alumno
                                    </a>
                                    {% else %}
                                    <label class="btn btn-danger btn-sm float-right mr-3">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.798 8.271l-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z"/>
                                            <path d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                                        </svg>
                                        El alumno no tiene carpeta
                                    </label>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
                    <label class="text-primary font-weight-bold">Motivo:</label>
                    <label>{{ object.motivo|capfirst }}</label>
                    <br>
                    <label class="text-primary font-weight-bold">Solicitante:</label>
                    <label>{{ object.usuario.nombres}} {{object.usuario.apellidos }}</label>
                    <br>
                    <label class="text-primary font-weight-bold">Estado:</label>
                    <label>
                        {{ object.expediente.get_resultado_display|title }}
                        {% if object.expediente.resultado == None %}
                            Proceso
                        {% endif %}
                    </label>
                    <br>
                    {% if solicitud.get_derivacion_trabajador_social.usuario_derivado %}
                        <label class="text-primary font-weight-bold">Nombres de Evaluador:</label>
                        <label>
                            {{solicitud.get_derivacion_trabajador_social.usuario_derivado.apellidos}},
                            {{solicitud.get_derivacion_trabajador_social.usuario_derivado.nombres}}
                        </label>
                        <br>
                        <label class="text-primary font-weight-bold">Email de Evaluador:</label>
                        <label>{{solicitud.get_derivacion_trabajador_social.usuario_derivado.email}}</label>
                        <br>
                    {% endif %}
                    {% if request.user.rol != 'BE' %}
                        <label class="text-primary font-weight-bold">Expediente:</label>
                        {% if solicitud.expediente %}
                        <a href="{% url 'ayuda_integral:expediente-detail' solicitud.expediente.pk %}">
                            {{solicitud.expediente.numero_expediente}}
                        </a>
                        {%else%}
                            No se ha asignado ningún expediente
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer py-4">
                {% if request.user.rol == 'AS' or request.user.rol == 'SG' %}
                    {% if not object.usuario.beneficiario %}
                        <a href="{% url 'ayuda_integral:beneficiario-add' object.usuario.pk %}" class="btn btn-info">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                            Crear Beneficiario
                        </a>
                    {%else %}    
                        {% if not solicitud.expediente %}
                            <a href="{% url 'ayuda_integral:expediente-add' object.pk %}" class="btn btn-info">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                </svg>
                                Crear expediente
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %} 
                </div>
            </div>
        </div>
        {% if request.user.rol != 'BE' %}
            <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">
                
                {% if docPersonal %}
                    <h3> Documentos del Solicitante:</h3>
                    <ul class="list-group">
                        {% for documento in docPersonal %}
                            <li class="list-group-item">
                                <a href="#" data-url="{{documento.path_url_embed}}" data-nombre="{{documento.nombre}}" href="#" data-target="#verDocumentoModal" data-toggle="modal" >
                                    {{forloop.counter}}. {{documento.nombre | default:'Sin nombre'}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {%else %}
                <h3> El solicitante no adjuntó ningún documento</h3>
                {% endif %}
            
            </div>
        {% endif %}
    </div>

    {% include "includes/footer.html" %}
</div>

{% endblock %}
{% block javascripts %}
<script>
    $('#verDocumentoModal').on('show.bs.modal', function (event) {
        var url = $(event.relatedTarget).attr('data-url');
        var nombre = $(event.relatedTarget).attr('data-nombre');
        $("#iframeDocumento").attr('src', url);
        $("#linkDocumento").attr('href', url);
        $("#nombreDocumento").html(nombre);
    })
</script>
{% endblock %}