{% extends 'layouts/base.html' %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            {% if 'mensaje_solicitanteinterno' in message.extra_tags %}
                <div class="row">
                <div class="alert {% if message.tags == "success" %}alert-success {% else %}alert-danger{% endif %} alert-dismissible" role="alert">
                    <button class="close" aria-label="close" data-dismiss="alert" type="button"><span aria-hidden="true">x</span></button>
                    <p>{{ message|safe }}</p>
                </div>
                </div>
            {% endif %}
        {% endfor %}
{% endif %}
{% if request.user.rol == 'AS' or request.user.rol == 'SB' or request.user.rol == 'SG'%}
<div class="card-header border-0">
    <div class="row">
        <h3 class="col-10 mb-0">Reporte de expedientes</h3>
        <div class="col-2 ">
            
            <form id="filtro" action="{%url 'ayuda_integral:exportar-reportesolicitudes' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-info btn-sm float-right">Exportar</button>
            </form>
            
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-header text-center border-0 pt-md-4 pb-0 pb-md-4">
                    <h2>SUB DIRECCION DE BIENESTAR UNIVERSITARIO
                        CONVOCATORIA DEL PROCESO DE EVALUACION PARA EL ACCESO DEL COMEDOR UNIVERSITARIO 2021                        
                    </h2>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estimados alumnos:
                    La Sub Dirección de Bienestar Universitario, da a conocer a todos los estudiantes de la Comunidad Universitaria  la apertura de la convocatoria para recibir el beneficio del Comedor Universitario. Para su inscripción                     
                </p>
                <p>
                    Los alumnos interesados sírvase ingresar al siguiente link https://www.bienestaruniversitariounsa.com/, donde además podrán descargar la Ficha Socioeconómica y las Declaraciones Juradas, considerar el cronograma:
                </p>
                <h3>IMPORTANTE:</h3>
                <p>Estimado postulante la ficha SISFOH es obligatoria para su inscripción</p>
                <h3>PROCESOS DE EVALUACION:</h3>
                <p> El estudio socio económico es realizado por la Oficina de Ayuda Integral y comprende:</p>
                <ul>
                    <li>Estudio de la Ficha Socioeconómica del alumno</li>
                    <li>Verificación de la documentación presentada</li>
                    <li>Entrevista personal</li>
                    <li>Visita domiciliaria</li>
                </ul>
                <p>Los expedientes de cada postulante es de carácter reservado, confidencial debiendo ser utilizados
                    únicamente para su seguimiento y verificación, por la instancia encargada.</p>
                <h3>DOCUMENTACIÓN</h4>
                    <ul>
                        <li>Constancia de matrícula, se presentará una vez se inicie el proceso de matrícula) </li>
                        <li>Libreta de Notas</li>
                        <li>Boletas de pago de los padres y/o estudiante, en caso de padres comerciantes presentar Ficha
                            RUC de la SUNAT, si laboran en forma independiente, presentar Declaración Jurada, detallando
                            actividad que realiza </li>
                        <li>Acta de Defunción en caso de orfandad</li>
                        <li>Documentos de salud en caso de enfermedad del estudiante o familiar directo</li>
                        <li>En caso de vivienda alquilada del estudiante y/o de los padres, presentar CONTRATO DE
                            ALQUILER y/o recibo de pago </li>
                        <li>Declaración Jurada de no recibir ningún beneficio del estado(PRONABEC, BECA 18, etc) </li>
                        <li>Otros documentos que acrediten su situación vulnerable Ejm:</li>
                        <ul>
                            <li>Clasificación socioeconómica del hogar - SISFOH</li>
                            <li>Denuncia policial por abandono de hogar</li>
                            <li>Demanda por alimentos</li>
                            <li>Cronograma de pagos por deuda bancaria</li>
                        </ul>
                    </ul>
                    <p> PRESENTAR TODOS LOS DOCUMENTOS EN FÍSICO AL MOMENTO DE LA ENTREVISTA</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% if not existe%}
<div class="modal" tabindex="0" role="dialog" id="aviso">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">IMPORTANTE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estimado estudiante no se encuentra registrado en el sistema.
                Debe hacer clic en Registrarse y actualizar sus datos.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Modal -->
    <div class="container-fluid mt-3">
        <!-- Button trigger modal -->
        {% if request.user.rol == 'BE' %}
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
            COMUNICADO
        </button>
            {% if not existe%}
            <a href="{% url 'ayuda_integral:beneficiario-interno-create'%}" class="btn btn-info">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                REGISTRARSE
            </a>
            {%endif%}
        {% endif %}

        {% if request.user.rol != 'BE' %}
        <form method="get">
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control form-control-alternative" placeholder="Buscar por nombres, apellidos, CUI, email o expediente"
                        name="buscar" value="{{buscar}}">
                </div>
                <div class="form-group col-auto">
                    <button type="submit" class="btn btn-success">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                        Buscar
                    </button>
                </div>
            </div>
        </form>
        {% endif %}
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Solicitudes</h3>
                    </div>
                    <div class="table-responsive" style="min-height: 250px;">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Problema</th>
                                    <th scope="col">Solicitante</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Nombres de Evaluador</th>
                                    <th scope="col">Email de Evaluador</th>
                                    <th scope="col">Expediente</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for solicitud in object_list %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <th>
                                        <a href="{% url 'ayuda_integral:solicitud-detail' solicitud.pk%}">
                                            {{solicitud.problema|title}}
                                        </a>
                                    </th>
                                    <td>
                                        {{solicitud.usuario.apellidos}} {{solicitud.usuario.nombres}}
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            {% if solicitud.expediente.resultado == 'PR' %}
                                            <i class="bg-gray"></i>
                                            {% endif %}

                                            {% if solicitud.expediente.resultado == 'PC'%}
                                            <i class="bg-green"></i>
                                            {% endif %}

                                            {% if solicitud.expediente.resultado == 'IM'%}
                                            <i class="bg-danger"></i>
                                            {% endif %}

                                            {{solicitud.expediente.get_resultado_display}}

                                            {% if solicitud.expediente == None %}
                                            <i class="bg-gray"></i>
                                            Proceso
                                            {% endif %}

                                        </span>
                                    </td>
                                    <td>
                                        {% if solicitud.get_derivacion_trabajador_social.usuario_derivado %}
                                        {{solicitud.get_derivacion_trabajador_social.usuario_derivado.apellidos}},
                                        {{solicitud.get_derivacion_trabajador_social.usuario_derivado.nombres}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{solicitud.get_derivacion_trabajador_social.usuario_derivado.email}}
                                    </td>
                                    <td>
                                        {% if solicitud.expediente %}
                                        {% if request.user.rol == 'BE' %}
                                        {{solicitud.expediente.numero_expediente}}
                                        {% else %}
                                        <a href="{% url 'ayuda_integral:expediente-detail' solicitud.expediente.pk %}">
                                            {{solicitud.expediente.numero_expediente}}
                                        </a>
                                        {% endif %}
                                        {%else%}
                                        No hay expediente

                                    </td>
                                    {%endif%}
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        No hay solicitudes
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <!--Pagination-->
                        <ul class="pagination justify-content-end mb-0">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% if buscar %}&buscar={{buscar}}{% endif %}" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if buscar %}&buscar={{buscar}}{% endif %}">{{page_obj.previous_page_number }}</a>
                            </li>
                            {% endif %}

                            <li class="page-item active">
                                <label class="page-link">{{ page_obj.number }} <span
                                        class="sr-only">(current)</span></label>
                            </li>

                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if buscar %}&buscar={{buscar}}{% endif %}">{{page_obj.next_page_number }}</a></li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if buscar %}&buscar={{buscar}}{% endif %}">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}
    </div>



    {% endblock %}
    {% block javascripts %}
    <script>
        {% if request.user.rol == 'BE' %}
        $(document).ready(function () {
            $("#exampleModal1").modal("show");
            $("#aviso").modal("show");
            $("#exampleModal").modal("show");
            
        });
        {% endif %}
    </script>

    {% endblock %}