{% extends 'layouts/base-detail.html' %}
{% block title %}
  Perfil de Usuario
{% endblock %}
{% block detail %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Apellidos</label>
          <input type="text" class="form-control form-control-alternative" readonly
          value="{{user.apellidos}}">
    </div>
    <div class="form-group col-md-6">
      <label>Nombres</label>
        <input type="text" class="form-control form-control-alternative" readonly
        value="{{user.nombres}}">
    </div>
    <div class="form-group col-md-12">
      <label>Correo</label>
        <input type="text" class="form-control form-control-alternative" readonly
        value="{{user.email}}">
    </div>
    <div class="form-group col-md-12">
      <label>Rol</label>
        <input type="text" class="form-control form-control-alternative" readonly
        value="{{user.get_rol_display}}">
    </div>
    {% if request.user.rol != 'BE' %}
      <div class="form-group col-md-12">
        <label>Oficina</label>
          <input type="text" class="form-control form-control-alternative" readonly
          value="{{user.get_oficina_display}}">
      </div>
    {% endif %}
  </div>
{% endblock %}