{% extends 'layouts/base-fullscreen-color.html' %}
{% block title %} Error 403 - No tiene permisos para ver esta página {% endblock title %}
{% block content %}

<div class="text-center px-5">
  <p class="text-white h1">Usted no tiene permisos para ver esta página</p>
  <br>
  <u><a class="text-white h3" href="{% url 'bienestar:dispatch' %}" >Ir al inicio</a></u>
</div>
'

{% endblock content %}
