{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

    <div class="modal" tabindex="-1" role="dialog" id="verDocumentoModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="nombreDocumento"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <a id="linkDocumento" href="#" target="_blank">
                        <svg width="10px" height="10px" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                            <path fill-rule="evenodd"
                                d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                        </svg>
                        Abrir en otra ventana
                    </a>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe id="iframeDocumento" class="embed-responsive-item" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Documentos de {{ beneficiario.nombres }} {{ beneficiario.apellidos }}</h3>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'ayuda_integral:documento-create' pk %}">
                                <button class="btn btn-info float-right">
                                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-upload"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                                    </svg>
                                    Subir
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if docs %}
                            {% for documento in docs %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    <a href="#" data-url="{{documento.path_url_embed}}"
                                        data-nombre="{{documento.tipo_documento}}" href="#"
                                        data-target="#verDocumentoModal" data-toggle="modal">
                                        {{documento.nombre}}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No existen documentos
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">

            <div class="card card-profile shadow">

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <h2>INDICACIONES PARA EL POSTULANTE</h2>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <p>Estimado Alumno se le recuerda que para poder ser evaluados deben subir toda la documentación requerida.</p>
                <ul>
                    <li>Documento de Identidad (DNI)</li>
                    <li>Ficha socioeconómica <a href="https://docs.google.com/uc?export=download&id=1q3b2hP3lby2AM6gSoxT7qxF6gxG0D062">(Descarga)</a></li>
                    <li>Constancia de matrícula (Se presentará una vez se inicie el proceso de matrícula)</li> 
                    <li>Libreta de Notas</li>
                    <li>Ingresos económicos de los padres,Boletas de pago, etc., si laboran en forma independiente, presentar Declaración Jurada, detallando actividad que realiza <a href="https://docs.google.com/uc?export=download&id=19jK0jWEB8-2l7rgeKO3ivA3IHfnJxQ4F">(Descarga)</a></li> 
                    <li>Ingresos económicos del estudiante, boletas de pago, etc., si laboran en forma independiente, presentar Declaración Jurada, detallando actividad que realiza <a href="https://docs.google.com/uc?export=download&id=1Kn99d4Ki-iUBw9yERql9U1lJPIN71_tk">(Descarga)</a></li>
                    <li>Acta de Defunción en caso de orfandad</li>
                    <li>Documentos de salud en caso de enfermedad del estudiante o familiar directo</li> 
                    <li>En caso de vivienda alquilada del estudiante y/o de los padres, presentar CONTRATO DE ALQUILER y/o recibo de pago </li> 
                    <li>Declaración Jurada de no recibir ningún beneficio del estado (PRONABEC, BECA 18, etc.) <a href="https://docs.google.com/uc?export=download&id=1cMpfHndGIOFU61tALlef2zphtnhtBd1-">(Descarga)</a></li> 
                    <li>Recibo de Agua y/o Luz</li> 
                    <li>Otros documentos que acrediten su situación vulnerable</li>
                </ul>
                </div>
            </div>
        </div>
    </div>



    {% include "includes/footer.html" %}



</div>
{% endblock %}

{% block javascripts %}
<script>
    {% comment %}
    < !--copia la url de eliminacion de cada solicitud y las pone en el href del modal Alert-- >
        {% endcomment %}

    $('#verDocumentoModal').on('show.bs.modal', function (event) {
        var url = $(event.relatedTarget).attr('data-url');
        var nombre = $(event.relatedTarget).attr('data-nombre');
        $("#iframeDocumento").attr('src', url);
        $("#linkDocumento").attr('href', url);
        $("#nombreDocumento").html(nombre);
    })
</script>
{% endblock %}