{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt-3">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Entidades</h3>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">N</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entidad in object_list %}
                            <tr>
                                <td>
                                    {{forloop.counter}} 
                                </td>
                                <th>
                                    <a href="{% url 'ayuda_integral:entidad-detail' entidad.pk %}"  >
                                        {{entidad.nombre}}
                                    </a>
                                    
                                </th>
                                <td>
                                    {{entidad.descripcion}}
                                </td>
                                <td>
                                    {{entidad.get_area_display}}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>
                                    No hay entidades
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!--Pagination-->
                    <ul class="pagination justify-content-end mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <label class="page-link" >{{ page_obj.number }} <span class="sr-only">(current)</span></label>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>





{% endblock %}