{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Administrativos</h3>
        </div>
        <div class="table-responsive" style="min-height: 250px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombres</th>
                <th scope="col">Dirección</th>
                <th scope="col">Dependencia</th>
                <th scope="col">Teléfono</th>

              </tr>
            </thead>
            <tbody>
              {% for beneficiario in beneficiarios %}
              <tr>
                <td>{{beneficiario.DNI}}</td>
                <td>{{beneficiario.APELLIDOS_Y_NOMBRES}}</td>
                <td>{{beneficiario.DIRECCION}}</td>
                <td>{{beneficiario.DEPENDENCIA}}</td>
                <td>{{beneficiario.TELEFONO}}</td>
              </tr>
              {% empty %}
              <tr>
                <td>
                  No hay administrativos
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <!--Pagination-->
          <ul class="pagination justify-content-end mb-0">
            {% if previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{previous}}" tabindex="-1">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}

            {% if next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ next}}">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock %}