{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">


    <!-- busqueda de beneficiario -->
    <form action="{%url 'ayuda_integral:beneficiario-busqueda' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control " name="nombres" placeholder="Nombres">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control " name="apellidos" placeholder="Apellidos">
            </div>
            <div class="form-group col-md-2">
                <select name="tipo" id="tipo" class="form-control form-control-alternative">
                    <option value="alumnos">alumno</option>
                    <option value="docentes">docente</option>
                    <option value="administrativos">administrativo</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-success ">Buscar</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Buscar beneficiario</h3>
                        </div>
                        <div class="col-4">
                        </div>

                    </div>
                </div>
                

                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>DNI</th>
                                {% if tipo == 'alumnos' %}
                                <th>CUI</th>
                                {% endif %}
                                <th>Nombres</th>
                                {% if tipo == 'administrativos' %}
                                <th>Dependencia</th>
                                {% else %}
                                <th>Escuela</th>
                                {% endif %}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if beneficiarios %}
                            {% for beneficiario in beneficiarios %}
                            <tr>
                                <td>
                                    {{beneficiario.DNI}}
                                </td>
                                {% if tipo == 'alumnos' %}
                                <td>
                                    {{beneficiario.CUI}}
                                </td>
                                {% endif %}
                                <td>
                                    {{beneficiario.APELLIDOS_Y_NOMBRES}}
                                </td>
                                {% if tipo == 'administrativos' %}
                                <td>
                                    {{beneficiario.DEPENDENCIA}}
                                </td>
                                {% else %}
                                <td>
                                    {{beneficiario.ESCUELA}}
                                </td>
                                {% endif %}
                                <td>
                                    <form id="beneficiario" action="{%url 'ayuda_integral:beneficiario-registro' %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input id="TIPO" type="hidden" name="TIPO" value={{tipo}}>
                                        <input id="CUI" type="hidden" name="CUI" value="{{beneficiario.CUI}}">
                                        <input id="DNI" type="hidden" name="DNI" value="{{beneficiario.DNI}}">
                                        <input id="NOMBRE" type="hidden" name="NOMBRE"
                                            value="{{beneficiario.APELLIDOS_Y_NOMBRES}}">
                                        <input id="ESCUELA" type="hidden" name="ESCUELA"
                                            value="{{beneficiario.ESCUELA}}">
                                        <input id="DEPENDENCIA" type="hidden" name="DEPENDENCIA"
                                        value="{{beneficiario.DEPENDENCIA}}">
                                        <button type="submit" class="btn btn-info btn-sm">Registrar</button>
                                    </form>
                                </td>



                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No se encontraron beneficiarios
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



    </div>

    {% include "includes/footer.html" %}

</div>



{% endblock %}