{% extends 'layouts/base.html' %}
{% block content %}


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Eliminar Usuario Externo</h3>
                        </div>
    
                    </div>
                </div>
                <div class="card-body">
    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <!-- <label>{{form.nombres.label}}</label> -->
                                <p>¿Estas seguro que deseas eliminar al Usuario "{{ object }}"?</p>
                            </div>
    
      
                        </div>
    
    
                        <button type="reset" class="btn btn-danger float-left" onclick="javascript:window.history.back();">Cancelar</button>
                        <button type="submit" class="btn btn-success float-right">Confirm</button>
                    </form>
    
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">
    
        </div>
    </div>

    
    {% include "includes/footer.html" %}
    
</div>



                <!-- <form method="post">{% csrf_token %}
                    <p>¿Estas seguro que deseas eliminar al Usuario "{{ object }}"?</p>
                    <input type="submit" value="Confirm">
                </form> -->
            
{% endblock %}