{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Ver Usuario Externo</h3>
                        </div>
                        <div class="col-3">
                            {% if request.user.rol == 'AS' or request.user.rol == 'SG' %}
                            <a href="{% url 'ayuda_integral:beneficiario-externo-update' object.pk %}">
                                <button class="btn btn-info float-right">
                                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                      </svg>
                                    Editar
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Nombres</label>
                            <input type="text" class="form-control form-control-alternative" readonly 
                            value="{{object.nombres}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Apellidos</label>
                            <input type="text" class="form-control form-control-alternative" readonly 
                            value="{{object.apellidos}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Identificador</label>
                            <input type="text" class="form-control form-control-alternative" readonly 
                            value="{{object.identificador}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Entidad</label>
                            <input type="text" class="form-control form-control-alternative" readonly 
                            value="{{object.entidad}}">
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}