{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

    <div class="row mx-2">
        <div class="col">
            <form method="GET">
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control form-control-alternative" placeholder="Buscar usuario"
                            name="buscar" value="{{buscar}}">
                    </div>

                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-success">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <h3 class="mb-0 col">Solicitantes internos</h3>
                        <div class="col-12 col-md-6">
                            {% if request.user.rol == 'AS' or request.user.rol == 'SG'%}
                            <a class="float-right btn btn-info" href="{% url 'ayuda_integral:beneficiario-busqueda' %}">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                Crear solicitante interno
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Identificador</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Entidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for beneficiario in object_list %}
                            <tr>
                                <td>
                                    {{forloop.counter}} 
                                </td>
                                <th>
                                    <a href="{% url 'ayuda_integral:beneficiario-externo-detail' beneficiario.pk%}">
                                        {{beneficiario.identificador|default:'Sin identificador'}}
                                    </a>
                                </th>
                                <td>
                                    {{beneficiario.nombres}}
                                </td>
                                <td>
                                    {{beneficiario.apellidos}}
                                </td>
                                <td>
                                    {{beneficiario.entidad}}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>
                                    No hay Solicitantes
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!--Pagination-->
                    <ul class="pagination justify-content-end mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <label class="page-link" >{{ page_obj.number }} <span class="sr-only">(current)</span></label>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>





{% endblock %}