{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Modificar Usuario Externo</h3>
                        </div>
    
                    </div>
                </div>
                <div class="card-body">
    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>{{form.nombres.label}}</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.nombres.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.nombres.label}}"
                                    id="{{form.nombres.id_for_label}}"
                                    value="{{form.nombres.value|default:''}}"
                                    name="{{form.nombres.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.nombres.errors}}
                                </div>
                            </div>
    
                            <div class="form-group col-md-6">
                                <label>{{form.apellidos.label}}</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.apellidos.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.apellidos.label}}"
                                    id="{{form.apellidos.id_for_label}}"
                                    value="{{form.apellidos.value|default:''}}"
                                    name="{{form.apellidos.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.apellidos.errors}}
                                </div>
                            </div>
      
                        </div>
    
    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>{{form.identificador.label}}</label>
                                <input type="text"
                                    class="form-control form-control-alternative {%if form.identificador.errors %}is-invalid{%endif%}"
                                    placeholder="{{form.identificador.label}}"
                                    id="{{form.identificador.id_for_label}}"
                                    value="{{form.identificador.value|default:''}}"
                                    name="{{form.identificador.html_name}}">
                                <div class="invalid-feedback">
                                    {{form.identificador.errors}}
                                </div>
                            </div>
    
                            <div class="form-group col-md-6">
                                <label>{{form.entidad.label}}</label>
                                <select id="{{form.entidad.id_for_label}}" name="{{form.entidad.html_name}}"
                                    class="form-control  {%if form.entidad.errors %}is-invalid{%endif%}">
                                    {% for item in form.entidad%}
                                    {{item}}
                                    {% endfor %}
                                </select>
    
                                <div class="invalid-feedback">
                                    {{form.entidad.errors}}
                                </div>
                            </div>
      
                        </div>
    
    
                        <button type="reset" class="btn btn-danger float-left" onclick="javascript:window.history.back();">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success float-right">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                              </svg>
                            Guardar
                        </button>
                    </form>
    
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-2 mb-5 mb-xl-0">
    
            <div class="card card-profile shadow">
    
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <h2>Detalles</h2>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <strong>Identificador: </strong>Puede ser un documento de identidad como el DNI o CUI.
                    <br>
                    <strong>Entidad: </strong>La institución u oficina a la que pertenece.
                </div>
            </div>
        </div>
    </div>
        

    
        {% include "includes/footer.html" %}
    
</div>

<!-- <div class="container-fluid mt-4">

    <div class="row">
        <div class="col-xl-8 order-xl-1 order-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Modificar Usuario Externo</h3>
                        </div>

                    </div>
                </div>

                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>

    </div>

</div> -->

{% endblock %}