{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt-3">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Reporte por sub actividad</h3>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sub Actividad</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tipo.items %}
                            {%for key, value in tipo.items%}
                            <tr>
                                <td>
                                    {{key}}
                                </td>
                                <th>
                                    {{value}}
                                </th>
                                <td>
                                    {% if value > 0 %}
                                        {% if tipo_ %}
                                            <a href="{%url 'bienestar:vista-report-actividad' key %}">Ver</a>
                                        {% else %}
                                            <a href="{%url 'bienestar:vista-report' key %}">Ver</a>
                                        {% endif %}
                                    {% else %}
                                        ver
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No se encontró lo que se buscaba
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>

{% endblock %}
