<h1>REPORTE DE EXPEDIENTES</h1>
<form method="GET">
    <input type="text" class="form-control" placeholder="Buscar por..." name="buscar">
    <select name="tipo" id="tipo">
    <option value="beneficiario">beneficiario</option>
    <option value="entidad">entidad</option>
    <option value="area">area</option>
    <option value="actividad">actividad</option>
    </select>
    <button type="submit" class="boton bton-success">Buscar</button>
    {% csrf_token %}
</form>

{% if object_list %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nº</th>
            <th scope="col">entidad</th>
            <th scope="col">area</th>
            <th scope="col">Beneficiario</th>
            <th scope="col">Actividad</th>
        </tr>
    </thead>
    <tbody>
        {% for article in object_list %}
        <tr>
            <th>
                {{article.numero_expediente}}
            </th>
            <th>
                {{article.beneficiario.entidad}}
            </th>
            <th>
                {{article.beneficiario.entidad.area}}
            </th>
            <th>
                {{article.beneficiario}}
            </th>
            <th>
                {{article.actividad}}
            </th>
        </tr>
        {% empty %} {% endfor %}
    </tbody>

</table>
{% else %}
<ul>
    <li>No se encontraron expedientes.</li>
</ul>
{% endif %}
<h2>Numero de expedientes: {{contador}}</h2>
