<!--
<h5>
    Derivar Expedientes
</h5>
<label >Expedientes:</label>
    <select form="derivacion-form" id="expediente" name="expedientes" >
    {% for expediente in expedientes %}
    <option value="{{ expediente.pk }}">{{expediente.numero_expediente}}  </option>
    {% endfor %}
</select>
<label >Usuarios:</label>
<select form="derivacion-form" id="usuario" name="usuarios"  placeholder="Escoja un usuario">
{% for user in usuarios %}
    <option value="{{ user.pk }}"> {{ user.email }} </option>
{% endfor %}
</select>
<button form="derivacion-form" type="submit" >Derivar</button>
<div class="d-none">
    <div id="usuario-actual" data-id="{{ request.user.pk }}"></div>
    <form id="derivacion-form" action="{% url 'expediente-derivar' %}" method="POST">
        {% csrf_token %}
    </form>
</div>
-->