{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt-3">

    <div class="row mx-2">
        <div class="col">
        <form method="GET">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Desde</label>
                    <input type="date"
                        class="form-control form-control-alternative"
                        value="{{desde}}"
                        name="desde">
                </div>
                <div class="form-group col-md-4">
                    <label>Hasta</label>
                    <input type="date"
                        class="form-control form-control-alternative"
                        name="hasta"
                        value="{{hasta}}">
                </div>
            </div>
            <div class="form-row">
                
                <div class="form-group col-sm-6 col-md-3">
                    <select name="tipo" id="tipo" class="form-control form-control-alternative">
                        <option value="escuela" {% if categoria == 'escuela' %}selected{% endif %}>Escuela</option>
                        <option value="area" {% if categoria == 'area' %}selected{% endif %}>Area</option>
                        <option value="beneficiarios" {% if categoria == 'beneficiarios' %}selected{% endif %}>Beneficiarios</option>
                        <option value="actividad" {% if categoria == 'actividad' %}selected{% endif %}>Actividad</option>

                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <button type="submit" class="btn btn-success">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                          </svg>
                        Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>



    </div>

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Reporte de expedientes</h3>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Cantidad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tipo.items %}
                            {%for key, value in tipo.items%}
                            <tr>
                                <td>
                                    {{key}}
                                </td>
                                <th>
                                    {% if value > 0 %}
                                        {{value}}
                                    {% else %}
                                        {% widthratio   value 1 -1 %}
                                    {% endif %}
                                </th>
                                {{vacios}}
                                <td>
                                    {% if value > 0 %}
                                        {% if tipo_ %}
                                            {% if subactividad == 'vacio' %}
                                                <a href="{%url 'bienestar:vista-report' key %}">Ver</a>
                                            {% else %}
                                                <a href="{%url 'bienestar:vista-report-actividad' key %}">Ver</a>
                                            {% endif %}  
                                        {% else %}
                                            <a href="{%url 'bienestar:vista-report' key %}">Ver</a>
                                        {% endif %}
                                    {% elif value < 0%}
                                        <a href="{%url 'bienestar:vista-report' key %}">Ver</a>
                                    {% else %}
                                        ver
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>

{% endblock %}
