{% extends 'layouts/base.html' %}
{% block content %}

<div class="container-fluid mt-3">

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <h3 class="col-10 mb-0">Reporte de expedientes</h3>
                        <div class="col-2 ">
                            {% if request.user.rol == 'AS' or request.user.rol == 'SO' or request.user.rol == 'SB' or request.user.rol == 'JO' or request.user.rol == 'TS' %}
                            <form id="filtro" action="{%url 'ayuda_integral:exportar-reporte' %}" method="POST">
                                {% csrf_token %}
                                <input id="FILTRO" type="hidden" name="FILTRO" value="{{filtro}}">
                                <button type="submit" class="btn btn-info btn-sm float-right">Exportar</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="min-height: 250px;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Número expediente</th>
                                <th scope="col">Beneficiario</th>
                                <th scope="col">Fecha de recepción</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Sub actividad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for article in object_list %}
                            <tr>
                                <th>
                                    <a href="{% url 'ayuda_integral:expediente-detail' article.pk %}">
                                        {{ article.numero_expediente|default:"Sin número" }}
                                    </a>
                                </th>

                                <td>
                                    {{ article.beneficiario }}
                                </td>
                                <td>
                                    {{article.fecha_recepcion|date:'d-m-Y'}}

                                </td>
                                <td>
                                    {{article.get_estado_expediente_display}}
                                </td>
                                <td>
                                    {{ article.actividad }}
                                </td>
                                <td>
                                    {{ article.sub_actividad }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{% url 'ayuda_integral:expediente-detail' article.pk %}">Ver</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>
                                    No existen expedientes
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!--Pagination-->
                    <ul class="pagination justify-content-end mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <label class="page-link" >{{ page_obj.number }} <span class="sr-only">(current)</span></label>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
</div>

{% endblock %}
