{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="col-xl-12 order-xl-1 order-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h1>
                            {% block title %}{% endblock %}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% block detail %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}