<!DOCTYPE html>
<html lang="es">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Subdirección de Bienestar Universitario</title>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/unsa-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json'%}">
  
      
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

    <!-- Specific CSS goes HERE -->
    <!-- {% block stylesheets %}{% endblock stylesheets %} -->

</head>
<body>
    {% block body %}
    {% endblock %}
    {% include "includes/scripts.html" %}
    {% include "includes/footer-fullscreen.html" %}
</body>
</html>