
<!DOCTYPE html>
<html lang="es">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    Subdireccion de  Bienestar Universitario | UNSA
  </title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/unsa-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'manifest.json'%}">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

  <!-- CSS selectize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css" integrity="sha512-Mt1nIzxiqvaBOCab6g5E3xZAqzrLjflwEkdL2chMsRJ7zzND7r2OtVf/6GxDvOFu9PwhQy8qtevg79rsmidasQ==" crossorigin="anonymous" />

  <style>
    .selectize-control.multi .selectize-input > div {
      padding: 5px 10px;
      background-color: #007bff!important;
      color: #fff;
      font-size: 18px;
  }
  .selectize-control.plugin-remove_button [data-value] {
      padding-right: 34px !important;
    }
  .selectize-control.plugin-remove_button [data-value] .remove{
      padding: 5px 5px 5px 5px;
      width: 26px;
      font-size: 22px;
  }
  /*tamaña de las opciones del select*/
  .selectize-dropdown [data-selectable].option {
    font-size: 15px;
    padding: 10px;
    background-color: #e9e9e9;
  }
  /*color de fondo de item activo de select*/
  .selectize-dropdown .active {
      background-color: #007bff !important;
      color: #ffffff;
  }
  
  </style>

  <style>
    .events li { 
      display: flex; 
    }
    
    .events time { 
      position: relative;
      
      color: #ccc;
      font-size: 12px;

      width: 20%;
    }
    
    .events time::after { 
       content: "";
       position: absolute;
       z-index: 2;
       right: 0;
       top: 0;
       transform: translateX(50%);
       border-radius: 50%;
       background: #fff;
       border: 1px #ccc solid;
       width: .8em;
       height: .8em;
    }
    
    
    .events span {
      padding: 0 1.5em 1.5em 1.5em;
      position: relative;
      font-size: 13px;
      width: 80%;
    }
    
    .events span::before {
       content: "";
       position: absolute;
       z-index: 1;
       left: 0;
       height: 100%;
       border-left: 1px #ccc solid;
    }
    
    .events strong {
       display: block;
       font-weight: bolder;
       font-size: 16px;
    }
    
    .events { margin: 1em; padding-left: 0px; }
    .events, 
    .events *::before, 
    .events *::after { box-sizing: border-box; font-family: arial; }
  </style>

  <style>
    /*input file*/
    .custom-file-label::after {
      content: "Escoger" !important;  
    }
  </style>

  <style>
    .page-item{
      z-index: 0;
    }
  </style>

  <style>
    .item-notificacion{
      background-color: #fff;
      white-space: normal;
    }
    .item-notificacion:hover{
      background-color: rgb(204, 204, 204) !important;
    }
    .notificacion-punto{
      background-color: rgb(0, 102, 255);
      height: 8px;
      width: 8px;
      border-radius: 4px;
    }
  </style>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidenav.html" %}

  <div class="main-content">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}


</body>

</html>
